.product-main-div {

    margin-top: 60px;
}

.main-cointainer {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin: 0 112px;
}

.product-text-main-div {
    position: absolute;
    bottom: 48px;
    left: 30px;
}

.header-textt {
    font-weight: 700;
    font-size: 23.04px;
    line-height: 28px;

    color: #FFFFFF;
}

.mini-text {

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    padding: 11px 0;
    margin-right: 52px;
    color: #FFFFFF;
}

.shope-bttttn {
    width: 200px;
    height: 48px;
    background: #FFFFFF;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .main-cointainer {
        grid-template-columns: 1fr;
        margin: 0 16px;
    }
}

.product-text-main-div {
    position: absolute;
    bottom: 48px;
    left: 30px;
}

.header-textt {
    font-weight: 700;
    font-size: 23.04px;
    line-height: 28px;
    color: #FFFFFF;
}

.mini-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 11px 0;
    margin-right: 52px;
    color: #FFFFFF;
}

.shope-bttttn {
    width: 200px;
    height: 48px;
    background: #FFFFFF;
    margin-top: 10px;
}